body{
    margin: 0;
    padding: 0;
    min-width: 1091.2px;

}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

header{
    background-color: goldenrod;
    padding: 10px;
    border-bottom:orangered 10px solid;
    height: 90px;
    
}

header h1{
    float: left;
}

header nav{
    float: right;
    margin-right: 20px;
}

#navs .container li{
    border-bottom: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    
}

header #navs .container ul li a{
    text-decoration: none;
}

#navs .container a{
    color: #ffffff;
    list-style: none;
    
}


/* Login box styling */

.box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    padding: 120px;
    background: coral;
    background-image: url("../images/logos/MESA.jpg");
    box-sizing:border-box;
    text-align: center;
    /* box-shadow: 0 15px 25px 50px rgba(39, 50, 73, 0.842); */
    border-radius: 10px;
    
}


.box h2{
    margin: 0 0 30px;
    padding: 0;
    color:#fff;
    text-align: center;
    
}


.box .inputBox{
    position: relative;
}


.box .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;   
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline-color: none;
    background: transparent;

}


.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .2s;
    
}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -25px;
    left: 0;
    border: none;
    color: rgb(19, 235, 55);
    font-size: 12px;
}


.box .input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

}

.forgot{
    color:blue;
    margin: 50px;
    
}

.create{
    margin: 50px;
    color:blue;
    text-align: center;
    
} 



/* Gallery styling */

#gal-box .container img{
    width: 350px;
    height: 250px;
}

#gal-box .container{
    width: 450px;
    height: 350px;
    border: 5px solid orangered;
    border-radius: 10px;
    padding: 40px;
    margin: 40px;
    display: inline-block;
}

#gal-box{
    padding: 70px;
}


/* Events Styling */

article.main-col{
    float: left;
    width: 65%;

}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
    
} 

aside#sidebar-email{
    float: right;
    background-color: darkslategrey;
    width: 20%;
    height: 500px;
    padding: 20px;
    margin: 20px;
    color: white;

}

aside#sidebar-email form label{
    display: block;
    line-height: 40px;

}


aside#sidebar-email form input{
    width: 90%;
    height: 30px;

}


aside#sidebar-email form button{
    display: block;
    margin: 10px;

}
/* 
aside#sidebar-email form .msg{
    height: 10vh; 
}
*/

aside#sidebar-email form .side-button{
    border: none;
    padding: 20px;
    background-color: orange;
    border-radius: 9px;
    margin-top: 40px;
    margin-left: 90px;


}


/* About Styling */

.about-para{
    margin: 10px;
}


/* Staff Styling */

#staff-info .container img{
    width: 450px;
    height: 350px;

}

#staff-info .container{
    width: 500px;
    border: tomato 5px solid;
    padding: 50px;
    margin: 40px;
    border-radius: 20px;
    display: inline-block;

}


#about-info{
    width: 100%;

}

#about-info .container img{
    width: 150px;
    height: 200px;
    
}

#about-info .container{
    width: 250px;
    border: tomato 5px solid;
    padding: 20px;
    margin:100px 0 0  250px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;

}

.name a{
    text-decoration: none;
    color: black;
}

#main-article{
    float: left;
    width: 80%;
}

#main-article  img{
    width: 150px;
    height: 250px;
}

#sidebar-menu .container{
    float: right;
    width: 10%;
    background-color: teal;
    padding: 20px;
    margin: 20px 10px 0 0;
       
}

#sidebar-menu h1{
    text-align: center;
}


#sidebar-menu li{
    list-style: none;
    
}

#sidebar-menu a{
    text-decoration: none;
    color: #ffffff;
    line-height: 3;
    

}

#sidebar-menu a:hover{
    color: orange;
    border-bottom: #ffffff 2px solid;
}

#faci-main .container{
    float: right;
    width: 80%;
    text-align: center;
    margin: 30px;
}

#faci-main .container img{
    width: 850px;
    height: 450px;
}


#faci-sidebar-menu .container{
    float: left;
    width: 10%;
    background-color: teal;
    padding: 10px;
    margin: 20px 0 30px 10px;
    line-height: 3;
       
}

#faci-sidebar-menu:hover h1{
    color: orange;

}

#faci-sidebar-menu li{
    display: none;
    list-style: none;
    padding: 8px;
}

#faci-sidebar-menu:hover li{
    display: inline-block;
    
}

#faci-sidebar-menu a{
    text-decoration: none;
    color: #ffffff;
    
}

#faci-sidebar-menu a:hover{
    border-bottom: 2px solid orange;
}

#main-article{
    margin: 10px;
    padding: 10px;
}

.gal-a h2{
    color: black;
}


a:hover{
    border-bottom: orange 2px solid;
}

#din-pics{
    float: right;
    width: 80%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}


#din-pics .container{
    width: 350px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    

}

.din-img{
    width: 300px;
    height: 300px;
    
}

